<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribute Page</title>
    <style>
        p {
            font-size: larger;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body style="background-color:deepskyblue;">

    <center><img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
            alt="Logo"></center>
    <center><img src="https://www.pngkit.com/png/full/21-211496_eevee-the-pokmon-eeveelution-twitter-header.png"
            alt="hol"></center>


    <p>Pokémon, is a Japanese media franchise managed by The Pokémon Company, a company
        founded by Nintendo, Game Freak,
        and Creatures.The franchise was created by Satoshi Tajiri in 1995, and is centered on fictional creatures called
        <q>Pokémon</q>, which humans, known as Pokémon Trainers, catch and train to battle each other for sport. Works
        within the franchise are set in the Pokémon universe. The English slogan for the franchise is <b>"Gotta Catch
            'Em All"</b>.
    </p>
    <p>Pokémon is set in the fictional Pokemon universe. There are numerous regions that have
        appeared
        in the various media of the Pokémon franchise. There are 8 main series regions set in the main series games:
        Kanto,
        Johto, Hoenn, Sinnoh, Unova, Kalos, Alola, and Galar. Each of the eight generations of the main series releases
        focuses on a new region. Every region consists of several cities and towns that the player must explore in order
        to overcome many waiting challenges, such as Gyms, Contests and villainous teams.</p>

    <a href="https://www.pokemon.com/us/" target="_blank">Vist the Official Site!</a><br>

    <hr>

    <h1 style="text-align: center;">Regions in Pokemon</h1>

    <center><img
            src="https://3.bp.blogspot.com/-GYSgnxxDGfI/UoODKBh-M2I/AAAAAAAAABY/_lG8OLaOrRg/w1200-h630-p-k-no-nu/pokemon-worlds_2180419_0.jpg"
            alt="Regions" style="height:350px;width:700px;"></center>

    <h2>Kanto</h2>
    <p>Kanto is a Pokémon region in the Pokémon universe and was the first to be featured in the popular series of
        games; it was followed by Johto, Hoenn, Sinnoh, Unova and Kalos. It is modelled and named after the Kantō
        region, a region in Japan, which includes, amongst other cities, the Japanese capital Tokyo and as all the other
        regions
        weren't named after somewhere Kanto is the only one that shares its name with a real world location. It was the
        first
        region released.The resemblance between the bay formations seen on the in-game map and the actual Sagami Bay,
        Suruga
        Bay, and Tokyo Bay formations is particularly striking.</p>
    <p>In the first generation of games, Pokémon Red, Blue and Yellow, Kanto was the only explorable region, featuring a
        variety of environments, such as urban locales and mountainous, wooded and oceanic routes. In the anime, the
        protagonist
        Ash Ketchumis a resident of Pallet Town and began his journey by touring Pokémon gyms in Kanto with Misty and
        Brock. </p>

    <a href="https://pokemon.fandom.com/wiki/Kanto" target="_blank">More about Kanto</a>
    <br>
    <h2>Johto</h2>
    <p>Johto is a region connected to the western part of Kanto. It was introduced in Generation II, Pokémon Gold,
        Silver,
        and Pokémon Crystal, later seen in their remakes, HeartGold and SoulSilver. The third, fourth, and fifth seasons
        of
        the anime were also set there. In the games, all its cities either have plant-themed or color-themed names.
        Johto is
        mainly based on the Kansai region of Japan, with some elements of Chūbu and Shikoku. There are old-fashioned
        cities
        reminiscent of Nara and Kyoto and a modern commercial city reminiscent of Osaka. Some inhabitants speak the
        Kansai dialect
        in the Japanese releases of the game.</p>
    <p>100 previously unknown Pokémon reside in Johto. In the Generation II games, the player character's hometown is
        New Bark Town,
        where they can choose either Chikorita, a grass type, Cyndaquil,a fire type or Totodile, a water type as his/her
        first Pokémon</p>

    <a href="https://pokemon.fandom.com/wiki/Johto" target="_blank">More about Johto</a>

    <h2>Hoenn</h2>
    <p>Hoenn is a region in the Ruby, Sapphire, Emerald, Omega Ruby, and Alpha Sapphire games.
        Hoenn is based on the island of Kyūshū region in Japan and lies to the southwest of Kanto and Johto in the
        Pokémon world.It is the first of the two Sea Regions, the other being Alola. According to Pokémon legend, the
        Hoenn region was
        formed by the Legendary Continent Pokémon, Groudon raising the land and the Legendary Sea Basin Pokémon, Kyogre,
        expanding the sea.</p>
    <p>The Hoenn region contains its own Pokémon League called the Hoenn League, and its own Elite Four, unlike Johto
        and Kanto whichshare their Elite Four in the video games. The Advanced Generation series in the anime occur
        here, as protagonist Ash Ketchum and company explore this
        new region featuring more than 100 new Pokémon.</p>

    <a href="https://pokemon.fandom.com/wiki/Hoenn" target="_blank">More about Hoenn</a>

    <h2>Sinnoh</h2>
    <p>Sinnoh is the fourth region of the Pokémon Series and is the setting of the Nintendo DS games Pokémon Diamond,
        Pearl,
        Platinum and also The Diamond and Pearl series of the anime. Like the previous regions in the previous games,
        Sinnoh
        features a broad range of environments for the player character to explore. The region is mountainous and
        temperate,
        and features, for the first time in a Pokémon RPG, snowy routes.</p>
    <p>Sinnoh has four lakes, each of which houses a legendary Pokémon: Lake Acuity houses Uxie, Lake Valor houses
        Azelf, Lake
        Verity houses Mesprit, and the secret Sendoff Spring houses Giratina inside Turnback Cave. Sinnoh is based on
        the geography
        of the Japanese island of Hokkaidō, the southern tip of the island of Sakhalin and the disputed island of
        Kunashir.</p>

    <a href="https://pokemon.fandom.com/wiki/Sinnoh" target="_blank">More about Sinnoh</a>

    <h2>Unova</h2>



    <p>Unova is the fifth main series region and is the setting of Pokémon Black and White and Pokémon Black and
        White Versions 2. Unlike the previous regions, which were based on different islands around Japan, Unova
        was based on America's New York City. This land is distant from all other currently known regions and thus
        has different Pokémon.</p>


    <a href="https://pokemon.fandom.com/wiki/Unova" target="_blank">More about Unova</a>
    <h1 style="text-align: center;">Thank you for visiting!</h1>
    <center><img src="https://www.gratistodo.com/wp-content/uploads/2016/12/Pokemon-gifs-7.gif" alt="pikachuAndEevee">
    </center>

</body>

</html>